p{
    border: 10px dashed purple;
    padding:50px;
    background-color: aquamarine;
    margin: 100px auto;
    width: 800px;
    text-align: center;
    border-radius: 200px;
    box-sizing: border-box;
}